<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>InstaFetcher</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">InstaFetcher</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav collapse navbar-collapse">
      <li><a href="index.html">Flow</a></li>
      <li><a href="charts.html">Charts</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="map-container" style="height: 300px; width: 80%">
    <div id="map-chart" style="width: 100%;"></div>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://www.google.com/jsapi"></script>
<script>
  google.load('visualization', '1', {'packages': ['geochart']});
  google.setOnLoadCallback(fetchImages);

  var coordinatesList;

  function fetchImages() {
    $.ajax({
      url: 'https://instafetcher.appspot.com/_ah/api/instafetcher/v1/coordinates',
      type: 'GET',
      dataType: 'JSON',
      contentType: 'application/json',
      success: function(data) {
        coordinatesList = data;
        generateMapGraph();
      },
      error: function(xhr, ajaxOptions, thrownError) {
        console.error("Call list error: " + xhr.status);
      }
    })
  }

  function generateMapGraph() {
    var gdata = new google.visualization.DataTable();
    gdata.addColumn('number', 'Latitude');
    gdata.addColumn('number', 'Longitude');

    coordinatesList.items.forEach(function(coordinate) {
        gdata.addRow([coordinate.lat, coordinate.lon]);
    });

    var options = {
      displayMode: 'markers',
      colorAxis: {colors: ['green', 'blue']}
    };

    var chart = new google.visualization.GeoChart(document.getElementById('map-chart'));
    chart.draw(gdata, options);
  }

  function resizeHandler() {
    generateMapGraph();
  }
  if (window.addEventListener) {
    window.addEventListener('resize', resizeHandler, false);
  }
  else if (window.attachEvent) {
    window.attachEvent('onresize', resizeHandler);
  }
</script>
</body>
</html>