<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>InstaFetcher</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/lightbox/css/lightbox.css"/>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <div class="container">
        <h1>InstaFetcher</h1>
        <p class="lead">Fetching photos from #nban hashtag</p>
        <ul id="images" class="row list-unstyled">
        </ul>
        <button type="button" id="load-more-btn" class="btn btn-primary btn-block">Load more</button>
    </div>
    <script src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="js/string.format.js"></script>
    <script>
        /* API page counter */
        var pageCounter = 0;

        $(document).ready(function() {
            // Fetch the 'first-page' images
            // pageCounter is 0
            fetchImages(pageCounter);

            // Register to the "Load more" button event
            $('#load-more-btn').click(function() {
              fetchImages(pageCounter);
            });
        })


        /**
         * Fetches the images data from the Google Endpoints API.
         * @param api_page
         */
        function fetchImages(page) {
            $.ajax({
                url: 'https://instafetcher.appspot.com/_ah/api/instafetcher/v1/images/' + page,
                type: 'GET',
                dataType: 'JSON',
                contentType: 'application/json',
                success: function(data) {
                    listImages(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    console.error("Call list error: " + xhr.status);
                }
            })
        }

        /**
         * Parse the image list as JSON and programmatically add the data
         * retrieved to the html list.
         * @param data
         */
        function listImages(data) {
            data.items.forEach(function(img) {
                var li = [
                '<li class="col-lg-3 col-sm-4 col-xs-12">',
                '  <a href="{0}" data-lightbox="image">',
                '    <div class="thumbnail">',
                '      <img class="img-responsive" src="{0}" />',
                '    </div>',
                '  </a>',
                '</li>'
                ].join('').format(img.url);

                $("#images").append(li);
            });
            pageCounter++;
        }
    </script>
</body>
</html>